<div ng-show="weather">
	<h1>{{weather.name}},{{weather.sys.country}}</h1>
	<img
		ng-src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png"
		alt="{{weather.weather[0].description}}" />
	<p>
		<h4>{{weather.weather[0].description}}</h4>
	</p>
	<p>Current temperature</p>
	<p>{{weather.main.temp |number:1}}&#8490 , {{weather.main.temp -
		273.15|number:1}}&#8451 , {{(weather.main.temp *( 9/5))-
		459.67|number:1}}&#8457</p>
	<p>
		<small>Max:{{weather.main.temp_max - 273.15|number:1}}&#8451
			Min:{{weather.main.temp_min - 273.15|number:1}}&#8451</small>
	</p>
	<h3>Cloudiness</h3>
	<p>{{weather.weather[0].main}}, Number of clouds :
		{{weather.clouds.all}}</p>


</div>
<div ng-show="!weather">
	<p>No data for the value entered. Please click back and try again</p>
</div>
<button ng-click="back()">Back</button>